.docks {
    background-color:SaddleBrown;
    cursor:pointer;
}
.land{
    background-color:chartreuse ;
}
.void{
    background-color:black;
}
.tree{
    background-color:ForestGreen;
    color:white;
}
#clock {
    clear:both;
}
.game-row{

  clear:both;
}
.schedule-cell{
    width:100px;
}
.tile{
   width:25px;
   height:25px;
   float:left;

   text-align:center;
   vertical-align:center;
   //border:1px black solid;
}
.water{
  background-color:blue;

}
